<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Valores de referência das Carnes e Bebidas</h1>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Picanha</h2>
        <p>Preço por kg: {{ preco_picanha | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (g): {{ consumo_adulto_picanha }}</p>
        <p>Consumo médio por criança (g): {{ consumo_crianca_picanha }}</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Costela</h2>
        <p>Preço por kg: {{ preco_costela | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (g): {{ consumo_adulto_costela }}</p>
        <p>Consumo médio por criança (g): {{ consumo_crianca_costela }}</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Linguiça</h2>
        <p>Preço por kg: {{ preco_linguica | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (g): {{ consumo_adulto_linguica }}</p>
        <p>Consumo médio por criança (g): {{ consumo_crianca_linguica }}</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Frango</h2>
        <p>Preço por kg: {{ preco_frango | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (g): {{ consumo_adulto_frango }}</p>
        <p>Consumo médio por criança (g): {{ consumo_crianca_frango }}</p>
      </div>
    </div>

    <div>
      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Cerveja</h2>
        <p>Preço por unidade: {{ preco_cerveja | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (ml): {{ consumo_adulto_cerveja }}</p>
        <p>Consumo médio por criança (ml): 0</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Refrigerante</h2>
        <p>Preço por unidade: {{ preco_refrigerante | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (ml): {{ consumo_adulto_refrigerante }}</p>
        <p>Consumo médio por criança (ml): {{ consumo_crianca_refrigerante }}</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Água</h2>
        <p>Preço por unidade: {{ preco_agua | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (ml): {{ consumo_adulto_agua }}</p>
        <p>Consumo médio por criança (ml): {{ consumo_crianca_agua }}</p>
      </div>

      <div class="bg-white shadow-md rounded p-4 mb-4">
        <h2 class="text-xl font-semibold mb-2">Suco</h2>
        <p>Preço por unidade: {{ preco_suco | currency:'BRL' }}</p>
        <p>Consumo médio por adulto (ml): {{ consumo_adulto_suco }}</p>
        <p>Consumo médio por criança (ml): {{ consumo_crianca_suco }}</p>
      </div>
    </div>
  </div>
</div>

<section id="form-container" class="container mx-auto">
  <!-- template driven -->

  <form (ngSubmit)="onSubmit()">
    <div class="flex flex-col mx-auto m-2 w-80">
      <mat-form-field class="block">
        <mat-label>Nome:</mat-label>

        <input matInput name="nome" type="text" [(ngModel)]="nome" placeholder="Digite seu nome" required>

        <mat-error>Nome é obrigatório</mat-error>
      </mat-form-field>

      <button mat-raised-button class="mt-2" type="submit" [disabled]="!nome">Enviar</button>
    </div>
  </form>

  <!-- reactive forms -->
  <mat-stepper orientation="vertical" [linear]="true" #stepper class="w-[640px] mx-auto">
    <form [formGroup]="formPessoas">
      <mat-step [stepControl]="formPessoas">
        <ng-template matStepLabel>Quantas pessoas?</ng-template>

        <mat-form-field>
          <input matInput type="number" formControlName="adultos" placeholder="Quantos adultos?">
        </mat-form-field>
      </mat-step>
    </form>
  </mat-stepper>

</section>
