<mat-toolbar class="h-32">
  <mat-toolbar-row
    class="bg-[#DA5E5B] flex justify-between !h-full items-center !flex-row-reverse md:!flex-row"
  >
    <figure class="flex items-center gap-4 !flex-row-reverse md:!flex-row">
      <img src="../../../assets/logo.svg" alt="logo.svg" />
      <figcaption>Churrascometro</figcaption>
    </figure>
    <span class="example-spacer"></span>
    <menu class="block md:hidden">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </menu>
    <menu class="hidden md:flex">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </menu>
  </mat-toolbar-row>
</mat-toolbar>
